flask==2.2.0
joblib==1.1.0
gunicorn==20.1.0
numpy>=1.18.5 
pandas==1.4.3 
requests==2.26.0
streamlit==1.11.0
lightgbm==3.2.1
shap==0.39.0
imbalanced-learn==0.9.1
matplotlib==3.5.1
cloudpickle==2.00
numba==0.55.1